<div style="width: 50%; background-color:#00aced ; text-align: center; margin: 5px auto">
  <h1 style="color: white">ツイート一覧</h1>
</div>

<div style="text-align: center">
  <%= link_to "Tweet", new_user_tweet_path(@user) %>
</div>
<div style="text-align: center">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
</div>

<div style="text-align: center; width: 50%; margin: 10px auto">
<% @tweets.each do |tweet| %>
<div style="height: 50px;border: 2px solid #000000; margin-top: 5px">
  <%=  tweet.user.name %><br>
  <%=  link_to tweet.sentence, tweet_path(tweet) %>
</div>
<% end %>
</div>

